# Configurazione Server
NODE_ENV=development
PORT=3000

# Configurazione GitHub
GITHUB_TOKEN=il-tuo-token

# Configurazione Database
DB_CONNECTION=mongodb://localhost:27017/nome-database

# Configurazione Sicurezza
CORS_ORIGIN=https://tuo-dominio.com
CORS_DEV_ORIGIN=http://localhost:5173
SERVER_API_KEY=la-tua-api-key
JWT_SECRET=il-tuo-secret-jwt

# Configurazione Logging
LOG_LEVEL=info
LOG_FILE_PATH=logs/app.log
ERROR_LOG_FILE_PATH=logs/error.log

# Configurazione rate limiter
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

# Configurazione Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=la-tua-password-admin

# Configurazione Progetti
PROJECT_PREFIXES=fm-,pm-
SCREENSHOTS_DIR=./public/screenshots
